/*

TemplateMo 550 Diagoona

https://templatemo.com/tm-550-diagoona

*/

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    overflow-x: hidden;
    color: white;
    background-color: #2C353C;
}

a { 
    transition: all 0.3s ease; 
    text-decoration: none;
}

ul { padding: 0; }
a:hover { text-decoration: none; }
button:focus { outline: none; }
p { line-height: 1.9; }
.tm-logo { margin-right: 20px; }
.tm-slogan { font-size: 0.8rem; }

/* Navigation */
.tm-row .logo {
    width: 80px;
    margin-right: 10px;
    object-fit: contain;
}
.tm-site-header {
    position: relative;
    z-index: 0;
    text-decoration: none;
    color: white;
    animation: show .5s alternate both;
}
.tm-site-header:hover {
    color: white;
}
.tm-site-header::before {
    position: absolute;
    content: '';
    top: -10px;
    left: -10px;
    width: 300px;
    height: 100%;
    background: rgba(0, 0, 0, 0.548);
    z-index: -1;
    transform: skewX(-15deg);
}
.navbar-toggler {
    padding: 8px 15px;
    border: 0;
    border-radius: 0;
    transform: skewX(-15deg);
    background-color: rgba(0, 0, 0, 0.548);
    color: white;    
    transition: .3s ease all;
}
.navbar-toggler:hover {
    background-color: #fff;
}
.navbar-toggler:hover i {
    color: #000;
}
.tm-sitename {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}
.tm-slogon {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
}

.navbar-toggler i { transform: skewX(15deg); }

.navbar-expand-lg {
    padding-left: 0;
    padding-right: 0;
}
.navbar-expand-lg .navbar-nav .nav-link { padding: 0; }

.navbar-expand-lg .navbar-nav .tm-nav-link {
    font-size: 1.3em;
    font-weight: 400;
    color: white;    
    padding-bottom: 30px;    
}
.gallery .img-fluid {
    min-width: 80px;
    transition: .3s ease all;
    border-radius: 5px;
}
.gallery .img-fluid:hover {
    transform: scale(0.9);
}
#ws {
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: 60px;
    height: 60px;
}
#ws img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
    animation: showIcon .6s 1s alternate both;
}
.tm-row .icon.img-fluid {
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.nav-item { margin-right: 20px; }

.nav-item:last-child { margin-right: 0; }

.nav-item.active .tm-nav-link,
.nav-item:hover .tm-nav-link {
    color: #fff12a;
}

.modal .modal-content .modal-header {
    border-bottom: 0px;
}
.modal .modal-content .modal-header .close {
    background: white;
    border-radius: 5px;
    opacity: 1;
    transition: .3s ease all;
}
.modal .modal-content .modal-header h5 {
    color: white;
    font-weight: bold;
}
.modal .modal-content {
    background: rgba(0, 0, 0, 0.548);
    backdrop-filter: blur(2px);
}
.modal .modal-content .modal-body .img-fluid {
    border-radius: 5px;
}
.modal .modal-content .modal-body p {
    color: white;
    font-size: 16px;
    text-align: center;
}
#exampleModal .modal-dialog {
    z-index: 100;
}
#exampleModal .modal-content{
    z-index: 100;
}
/* Page Background */
.tm-bg {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1000;
}

.tm-bg-left,
.tm-bg-right {
    position: relative;
    width: 50%;
    height: 100%;
}

.tm-bg-right { background-color: rgba(0, 0, 0, 0.548); }

.tm-bg-left {
    border-right: 230px solid rgba(0, 0, 0, 0.548);
    border-top: 100vh solid transparent;
}

.tm-bg-controls-wrapper {
    display: inline-block;
    margin-left: -150px;
}

.tm-bg-control {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,0.5);
    margin: 6px;
    cursor: pointer;
}

.tm-bg-control.active,
.tm-bg-control:hover {
    background-color: white;
}

.tm-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.tm-row { display: flex; }

.tm-col-left {
    width: 50%;
    height: 100%;
    padding-left: 40px;  
    padding-right: 40px;
}

.tm-col-right {
    width: 50%;
    height: 100%;
    padding-left: 70px;
    padding-right: 70px;
}

.tm-content {
    max-width: 660px;
    margin-top: 50px;
    padding-right: 20px;
}
.tm-content img {
    width: 200px;
    object-fit: contain;
}
.tm-about { max-width: 525px; }

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #fff12a;
    box-shadow: 0 0 1px rgba(255,255,255,.8);
}

.tm-content-title { font-size: 1.5rem; }
hr { border-top: 1px solid white; }

.btn {
    padding: 10px 25px;
    border-radius: 0;
}

.btn-big {
    padding: 9px 40px;
    font-size: 1.2rem;;
}

.btn-primary {
    background-color: white;
    color: black;
    border: 0;
    transition: .3s ease all;
}

.btn-primary:hover {
    background-color: #fff12a;
    color: black;
}
.btn-primary:focus {
    background-color: #fff12a;
    color: black;
}
#contact-form input, #contact-form textarea {
    padding: 10px 0px;
    transition: .3s ease all;
}
#contact-form input:valid, #contact-form textarea:valid {
    padding: 10px 10px;
    background: rgba(0, 0, 0, 0.233);
    color: white;
}
#ui-text2, #ui-text3, #ui-text4 {
    display: none;
}
.tm-site-footer {
    padding: 40px 0 20px;
    max-width: 660px;
    font-size: 0.95rem;
}

.tm-col-footer { padding-left: 0; }
.tm-text-link { color: white; }

.tm-text-link:hover,
.tm-text-link:focus {
    color: #fff12a;
}

/* Service */ 
.tm-service-text { max-width: 365px; }
.tm-service-img { margin-right: 25px; }
.tm-service-img-r { margin-left: 25px; }

/* Contact */
.form-control,
textarea {    
    color: white;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #999A9B;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 10px 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.form-control:focus {
    color: white;
    background-color: transparent;    
    box-shadow: none;
    border-color: #9CC;
    outline: none;
}

.mb-85 { margin-bottom: 60px; }
.tm-contact-main { max-width: 690px; }

.tm-contact {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
}
.services.tm-row .media {
    border-radius: 4px;
    transition: .3s ease all;
}
.services.tm-row .media:hover {
    background-color: #ffffff1e;
}
.form-control::-webkit-input-placeholder { color: white; } /* Edge */  
.form-control:-ms-input-placeholder { color: white; } /* Internet Explorer 10-11 */  
.form-control::placeholder { color: white; }

@media (max-width: 1200px) {
    .nav-item { margin-right: 30px; }

    .tm-page-right {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 992px) {    
    .tm-nav {
        position: absolute;
        background: rgba(0, 0, 0, 0.548);
        color: white;
        top: 44px;
        right: 4px;
        z-index: 100;
    }
    
    .navbar-expand-lg .navbar-nav .tm-nav-link {
        color: white;
        font-size: 1.1rem;
        padding: 13px 20px;
    }

    .nav-item { margin-right: 0; }

    .nav-item.active .tm-nav-link,
    .nav-item:hover .tm-nav-link {
        color: #fff12a;
        background: #000;
    }

    .tm-content { margin-top: 20px; }
    .tm-site-footer { padding-top: 40px; }
    .tm-col-left { width: 40%; }

    .tm-col-right {
        width: 60%;
        padding-left: 100px;
        padding-right: 30px;
    }
    
    .tm-col-footer { padding-left: 0; }
}

@media (max-width: 768px) {
    .tm-row { flex-direction: column; }

    .tm-col-left,
    .tm-col-right,
    .tm-bg-left,
    .tm-bg-right {
        width: 100%;
    }

    #tm-main-nav {
        position: fixed;
        top: 50px;
        right: 40px;
        padding-bottom: 0;
    }  
    
    .tm-bg { flex-direction: column; }

    .tm-bg-left {
        height: 200px;        
        border-bottom: 50px solid rgba(0, 0, 0, 0.548);
        border-right: 0;
        border-top: 0;
    }

    .tm-bg-right { height: calc(100% - 200px); }

    .tm-bg-controls-wrapper {
        margin-left: 0;
        margin-top: 50px;
    }

    .tm-content {
        max-height: none;
        margin-top: 40px;
    }

    .tm-col-right {
        padding-top: 40px;
        padding-left: 30px;
    }

    .tm-col-footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (min-width: 600px) {
    .tm-row .icon.img-fluid {
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 460px) {
    .tm-logo { margin-right: 15px; }
    .tm-sitename { font-size: 1.8rem; }
    .tm-slogon { font-size: 0.8rem; }
}

@media (max-width: 450px), (min-width: 768px) and (max-width: 830px), (min-width: 992px) and (max-width: 1040px) {
    .tm-service-media { flex-direction: column; }
    .tm-service-media-img-l { flex-direction: column-reverse; }
    .tm-service-text { margin-top: 20px; }
    .tm-service-img { margin-right: 0; }
    .tm-service-img-r { margin-left: 0; }
}
@media (min-width: 992px) {
    .tm-col-right {
        animation: col .5s .5s alternate both;
    }
}
@media (min-width: 1200px) {
    .gallery .img-fluid {
        display: block;
        width: 100px;
        min-width: 250px;
        min-height: 220px;
        object-fit: cover;
    }
}
@keyframes show {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes col {
    0% {
       margin-left: 100px;
       opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}

@keyframes showIcon {
    0% {
       transform: scale(0);
       opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}